<div class="flex flex-wrap mt-4" >
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4">
                
                <div class="flex">
                    <h2 class="title"><span class="sap">Assign/Setup surveys</span></h2>
                </div>
                <div class="flex justify-end">
                    <ul class="flex justify-end batch">
                        <li class="cursor-pointer capitalize">new survey</li>
                    </ul>
                 </div>


                 <div class="w-full flex justify-center lg:w-12/12 px-4 pt-1 mb-6 pb-6 rounded" >

                    <div class="flex flex-col">
                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="overflow-hidden">
                              <table class="table-auto min-w-full  space-y-6">
                                <thead class="border-b" ngClass="bg-white">
                                  <tr class="top border-x-8 bg-white">
                                    <th scope="col" class="text-sm font-medium text-center text-gray-900 px-6 py-4 text-left tracking-wider">
                                      <input type="checkbox" class="mt-1" />
                                    </th>
                                    <th scope="col" class="text-sm font-medium text-center text-gray-900 px-6 py-4 text-left tracking-wider">
                                        S/N
                                    </th>
                                    <th scope="col" class="text-sm capitalize text-center font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        survey name
                                    </th>
                                    <th scope="col" class="text-sm font-medium text-center text-gray-900 px-6 py-4 text-left tracking-wider">
                                        Questions
                                    </th>
                                    <th scope="col" class="text-sm capitalize text-center font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        date created
                                    </th>
                                    <th scope="col" class="text-sm capitalize text-center font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        batch number
                                    </th>
                                    <th scope="col" class="text-sm capitalize text-center font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                       action
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="bg-gray-100 border-x-8">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 tracking-wider"><input type="checkbox" class="mt-1" /></td>
                                    <td class="text-sm text-gray-900 font-light m-4 px-6 py-4 whitespace-nowrap tracking-wider">
                                      1
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap tracking-wider">
                                        survey01
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap tracking-wider">
                                      10
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap tracking-wider">
                                        Apr 20, 2021
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap tracking-wider">
                                        32
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  uppercase font-light px-6 py-4 whitespace-nowrap tracking-wider">
                                        <p> <span class="edit">Edit</span> <span class="mid">|</span>   <span class="dup">Duplicate</span> </p>
                                      </td>
                                  </tr>
                                  <tr class="bg-gray-100 border-b">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                    <td class="text-sm text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      2
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        survey01
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      10
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        Apr 20, 2021
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        32
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  uppercase font-light px-6 py-4 whitespace-nowrap">
                                        <p> <span class="edit">Edit</span> <span class="mid">|</span>   <span class="dup">Duplicate</span> </p>
                                      </td>
                                  </tr>
                                  <tr class="bg-gray-100 border-b">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                    <td class="text-sm text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      3
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        survey01
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      10
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        Apr 20, 2021
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        32
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  uppercase font-light px-6 py-4 whitespace-nowrap">
                                        <p> <span class="edit">Edit</span> <span class="mid">|</span>   <span class="dup">Duplicate</span> </p>
                                      </td>
                                  </tr>
                                  <tr class="bg-gray-100 ">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 "><input type="checkbox" class="mt-1" /></td>
                                    <td class="text-sm text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      4
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        survey01
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      10
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        Apr 20, 2021
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        32
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  uppercase font-light px-6 py-4 whitespace-nowrap">
                                        <p> <span class="edit">Edit</span> <span class="mid">|</span>   <span class="dup">Duplicate</span> </p>
                                      </td>
                                  </tr>
                                  <tr class="bg-gray-100 border-b ">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                    <td class="text-sm text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      5
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        survey01
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                      10
                                    </td>
                                    <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        Apr 20, 2021
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                        32
                                      </td>
                                      <td class="text-sm text-center text-gray-900  m-4  uppercase font-light px-6 py-4 whitespace-nowrap">
                                        <p> <span class="edit">Edit</span> <span class="mid">|</span>   <span class="dup">Duplicate</span> </p>
                                      </td>
                                  </tr>
                                </tbody>
                              </table>

                              <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/sap-assign-rewards']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    Continue
                                </button>
                            </div>

                            </div>
                          </div>
                        </div>
                      </div>

                 </div>

              

                  
            </div>
        </div>
    </div>
</div>
  

  
