<!-- Header -->
<div class="relative bg-blueGray-800 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 quick-link" [routerLink]="['/dashboard/products/add-product']">
          <app-card-stats
            statSubtitle="Anti-Fake"
            statTitle="Add Product"
            statDescripiron="click to visit page"
            statIconName="fa fa-arrow-right"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 quick-link" [routerLink]="['/dashboard/surveys/create-survey']">
          <app-card-stats
            statSubtitle="Anti-Fake"
            statTitle="Create Survey"
            statDescripiron="click to visit page"
            statIconName="fa fa-arrow-right"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 quick-link" [routerLink]="['/dashboard/insights']">
          <app-card-stats
            statSubtitle="Insights"
            statTitle="Create Campaign"
            statDescripiron="click to visit page"
            statIconName="fa fa-arrow-right"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 quick-link" [routerLink]="['/dashboard/engage']">
          <app-card-stats
            statSubtitle="Engagement"
            statTitle="Create Campaign"
            statDescripiron="click to visit page"
            statIconName="fa fa-arrow-right"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
