<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content flex flex-col min-w-0 break-words w-full mb-6 pb-6 px-4 shadow-lg rounded"
        ngClass="bg-white"
        >
            <div class="block w-full overflow-x-auto px-4" *ngIf="stage == 1">
                <div class="flex flex-wrap mt-4">
                    <div class="w-full mb-12 px-4">
                        <div class=" flex justify-center mb-6 mt-8">
                            <img class="h-12 w-36 bg-white" src="assets/img/chekkitlogoo.png" />
                        </div>
                        <h5 class="text-2xl  text-center font-normal leading-normal mt-0 mb-2 text-blueGray-800">
                            Create Product Batch
                        </h5>
                        <p class="text-sm text-center font-light leading-relaxed mt-2 mb-4 text-blueGray-800">
                            Submit Batch details of {{productObject?.product_name}}
                        </p>
                        <div class=" flex justify-center">
                            <img
                            src="assets/img/survey-pic.png"
                            style=" height:500px;"
                            class="h-350 w-350 bg-white"
                            alt="..."
                            />
                        </div>
                            
                    </div>
                </div>
                
                <div class="flex mb-12 justify-center">
                    
                    <div class="">
                        <button (click)="stage = 2" type="submit" class="self-auto  ml-1 text-white font-bold px-12 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-800 active:bg-blueGray-600 text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                            Get Started
                        </button>
                    </div>
                </div> 
            </div>
            <div class="px-4 pb-4 pt-12" *ngIf="stage == 2">
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-blueGray-800 text-center mb-3 font-bold">
                    Upload contacts from CSV
                  </div>
                    <div class="relative w-full mb-8">
                      <label
                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                      >
                        contact group
                      </label>
                      <input
                        type="text"  [(ngModel)]="groupName"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="name contact group here"
                      />
                      <!-- <div *ngIf="submitted && f.product_name.errors" class="text-white px-4 py-1 border-0 rounded relative mb-4 bg-red-400 mt-4">
                        <span class="inline-block align-middle mr-8">
                          <b class="capitalize">warning!</b> Batch Name is required
                        </span>
                      </div> -->
                    </div>
<!--                     
                        <div class="text-center mt-6">
                        <button
                            [disabled]="loading || (subProductForm.invalid && !useDefault)"
                            class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                            type="submit" >
                                <loading-spinner *ngIf="loading" ></loading-spinner>                                    
                                Save and Generate Code For This Batch
                            </button>
                            
                        </div> -->
                </div>
                <div>

                    <div class="flex flex-wrap mb-8 bg-blueGray-100 rounded px-4 py-8">
                        <div class="w-full lg:w-9/12 pr-4 pt-4">
                            <div class="relative w-full mb-3">
                                <p class="block text-blueGray-600 text-xs font-bold mb-2" >
                                    CSV Template
                                </p>
                            </div>
                        </div>
                        <div class="w-full lg:w-3/12 pt-4">
                            <div class="relative w-full mb-3" (click)="testAlert()">
                                <label
                                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                >
                                download
                                </label>
                            </div>
                        </div>
                    </div>

                    <p class="text-sm text-blueGray-800 text-bold mt-2 mb-4 text-blueGray-800">
                        Download the CSV template and upload a filled version
                      </p>


                    <div class="  upload_container" *ngIf="!uploadSuccess">
                        <form>
                            <div class="upload-container" appDnd (fileDropped)="onFileDropped($event)">
                                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
                                <h2 class="title-2">Select File</h2>
                                <p>Drag and drop file here</p>
                            </div>
                            <div class="files-list">
                                <div class="single-file" *ngFor="let file of files; let i = index">
                                    <div class="file-icon" style="width: 50px">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
                                            <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                                            <g>
                                                <path style="fill:#CEC9AE;"
                                                    d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                                            </g>
                                            <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                                        </svg>
                                    </div>
                                    <div class="info">
                                        <h4 class="name">
                                            {{ file?.name }}
                                        </h4>
                                        <p class="size">
                                            {{ formatBytes(file?.size) }}
                                        </p>
                                        <app-progress [progress]="file?.progress"></app-progress>
                                    </div>

                                    <div class="delete" (click)="deleteFile(i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                            <path fill="#B1B1B1" fill-rule="nonzero"
                                                d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 " *ngIf="csvTableData">
                        <br><br>
                        <div class="ret_summary">
                            <h5>Summary</h5>
                            <p class="summary_txt">Uploaded Contacts: {{ csvTableData.length}}</p>
                        </div>
                        <br><br>
                        <button class="btn btn-block btn-success " [disabled]="processing || !csvTableData || csvTableData.length < 1" type="button" (click)="submit_bulk()">                       
                            <img *ngIf="processing" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            Upload Contacts
                        </button>
                        <br><br>
                    </div>
                </div>
                <div class="flex flex-wrap mt-4">
                    <div class="w-full mb-12 px-4">
                        <h5 class="font-bold mt-0 mb-2 text-blueGray-800">
                            Please type in the text message you want to be sent out
                        </h5>
                        <div class="relative w-full mb-3">
                            <label
                                class="block capitalize text-blueGray-400 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                broadcast message
                            </label>
                            <textarea
                                maxlength="140" rows="8" name="messagemessage" [(ngModel)]="inputData.message"
                                placeholder="Write you message here"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-blueGray-100 rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"></textarea>
                        </div>
                          
                    </div>
                </div>
            </div>
            <div class="px-4 pb-4 pt-12" *ngIf="stage == 3">
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-blueGray-800 text-center mb-3 font-bold">
                    Contact Onboarding summary
                  </div>
                  <div>
                    <h5 class="text-lg font-normal leading-normal mt-0 mb-2 text-blueGray-800">
                        Contact details <i class="fas fa-edit"></i>
                    </h5>
                    <p class="text-sm font-light leading-relaxed mt-2 text-blueGray-800">
                        Contact group
                    </p>
                    <p class="text-sm font-normal mt-2 mb-4 text-blueGray-800">
                        Group 1
                    </p>
                    <p class="text-sm font-normal mt-4 text-blue-600">
                        view contacts ({{ csvTableData?.length}})
                    </p>
                    <h5 class="text-lg font-normal leading-normal mt-6 mb-2 text-blueGray-800">
                        Message <i class="fas fa-edit"></i>
                    </h5>
                    <p class="text-sm font-light mt-2 mb-4 text-blueGray-400">
                        {{inputData.message}}
                    </p>
                  </div>
                  
                </div>
            </div>

        <div class="footer-nav">
            <button 
            (click)="prevStage()"
            [disabled]="stage == 1"
            class="bg-transparent hover:bg-blueGray text-blueGray text-sm font-bold hover:shadow-lg mr-1 px-6 py-3 border-2 border-blue hover:border-transparent rounded">
                Go back
            </button>
            <button 
            [hidden]="stage == 3"
            (click)="nextStage()"
            class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold px-6 py-3 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            >
             Next
            </button>
            <button 
            [hidden]="stage !== 3"
            (click)="createListName()"
            class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold px-6 py-3 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="submit"
            >
            Send
            </button>
        </div>
        </div>
        
        

    </div>
  </div>
  