<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full  shadow-lg rounded justify-center" ngClass="bg-white">
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="sap">What Batch are you generating serial numbers for?</span></h2>
                </div>
                <div class="flex justify-center">
                    <form >
                      <div class="mb-8">
                        <label
                          class="mb-2"
                        >
                          Batch Number
                        </label>
                        <input
                          type="text" 
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                          placeholder="Please Enter Batch Number Here"
                        />
                        
                      </div>
                  </form>
                    
                </div>
                          <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/unique-id']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    Proceed
                                </button>
                            </div>
                </div>
        </div>
        

    </div>
  </div>
  

  
