<div class="flex flex-wrap mt-4 "> 
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"  ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4">
              <div class="flex justify-start mt-10 ">
                <ul class="flex ">
                    <li class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="back-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                          </svg>
                          <p class="capitalize back">back</p>
                    </li>
                </ul>
            </div>
            <div class="flex justify-end">
                      <ul class="flex justify-end batch">
                          <li class="cursor-pointer ">Batch Number <span class="text-2xl">320011</span></li>
                      </ul>
            </div>
                  <div class="flex flex-wrap">
                    <div class="flex">
                      <h2 class="title"><span class="sap">Attach Rewards</span></h2>
                  </div>
                </div> 


                <div class="flex flex-wrap mb-12"> 
                    <div class="w-full flex-1 lg:w-3/12 px-4 pt-1 text-center ">
                        <div class="relative w-full mb-3 ">
                          <div class="card-selector card-selector-row flow" routerLink="/sap/request-serial"> 
                            <div>
                                <img
                                    alt="..."
                                    src="assets/img/loyalty.png"
                                    class=""
                                />
                              </div>
                              <div>
                                <p class="flow-text">Loyalty Points</p>
                                <p>what does loyalty point mean?</p>
                              </div>
                          </div>
                        </div>
                    </div>

                    <div class="w-full flex-1 lg:w-3/12 px-4 pt-1 text-center">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row flow" routerLink="/dashboard/rewards/loyalty-points">
                            <div>
                                <img
                                    alt="..."
                                    src="assets/img/airtime.png"
                                    class=""
                                />
                              </div>
                              <div>
                                <p class="flow-text">Airtime</p>
                                <p class="text-center text-black-100 text-small">what does airtime point mean?</p>
                              </div>
                          </div>
                        </div>
                    </div>

                        <div class="w-full flex-1 lg:w-3/12 px-4 pt-1 text-center">
                            <div class="relative w-full mb-3">
                              <div class="card-selector card-selector-row flow" routerLink="/dashboard/rewards/loyalty-points">
                                <div>
                                    <img
                                        alt="..."
                                        src="assets/img/chekkit-reward.png"
                                        class="align-midddle w-max "
                                    />
                                  </div>
                                  <div>
                                    <p class="flow-text">Chekkit Reward</p>
                                    <p>what does Chekkit Reward mean?</p>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>


                <div class="flex flex-wrap justify-center">
                    <button [routerLink]="['/sap/attach-reward']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                        Continue
                    </button>
                </div>
            

                 

                </div> 
          
            
        </div>
        

    </div>
  </div>
  