<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded pb-8 px-4 py-4"
>
  <div class="rounded-t mb-0  py-3 border-b-2 pb-4">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1 ">
        <h3 class="font-semibold text-base text-blueGray-700">
            Reward Winners Statistics
        </h3>
      </div>
    </div>
  </div>
  <div class=" py-4 mb-12">
    <label
      class="block uppercase text-blueGray-600 text-xs  mb-2"
      htmlFor="grid-password">
      Select Reward 
    </label>

    <select class="border-0 w-1/2 mr-4 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring  ease-linear transition-all duration-150"  [(ngModel)]="reward" (change)="getAirtimeRewardStats(reward)" *ngIf="rewards?.length>0">
        <option selected disabled>Select</option>
        <option *ngFor="let reward of rewards"
        [ngValue]="reward">{{reward?.reward_type}}
            {{reward?.reward_value}}</option>
    </select>
    <!-- <label
      class="block uppercase text-blueGray-600 text-xs  mb-2"
      htmlFor="grid-password">
      Select Reward 
    </label> -->
    <p *ngIf="rewards?.length<1" style="color: red;">You don't have any reward(Airtime/Merchandize) to attach to this Product,Please create a reward to add new product.</p>

  </div>
  <div class="container px-4 mx-auto mb-12" *ngIf="winnersStats && reward && reward.reward_type == 'Airtime'">
    <div class="flex flex-wrap">
        <div class="w-1/3 px-12 text-center py-10 mr-4 rounded border border-solid border-blueGray-100">
          <p>Total Winners</p>
          <h3 class="font-extrabold text-4xl">{{winnersStats && winnersStats.reward_total?winnersStats.reward_total:'0'}}</h3>
        </div>
        <div class="w-1/3 px-12 text-center py-10 mr-4 rounded border border-solid border-blueGray-100">
          <p>Total Airtime Won</p>
          <h3 class="font-extrabold text-4xl">N {{winnersStats && winnersStats.winners_count?winnersStats.winners_count:'0'}}</h3>
        </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-red-800 text-red-300 border-red-700'
              ">
                Phone Number
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-red-800 text-red-300 border-red-700'
              " >
            Date Created
            </th>
          </tr>
        </thead>
      <tbody>
        <tr  *ngFor="let row of rows">
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
          >
            {{row.phone_number}}
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          >
          {{row.created_at |  date:'short'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
