<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 pb-6 flex min-w-0 break-words w-full  shadow-lg rounded justify-center" ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4" ngClass="bg-sap">

                <div class="flex flex-row w-full md:w-12/12 lg:w-12/12 px-4 mt-3 justify-center rounded-lg top" ngClass="bg-white">
                    <div class="flex justify-start md:w-4/12 lg:w-4/12 px-4 m-4">
                        <div class="relative">
                            <select class="border-1 mr-8 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" >
                              <option>Select product</option>
                              <option>Mango</option>
                              <option>Apple</option>
                            </select> 
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                          </div>
                    </div>
                    <div class="flex md:w-4/12  lg:w-4/12 m-6">
                        <div class="relative">
                            <select class="border-1 mr-8 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" >
                              <option>Select Batch</option>
                              <option>111</option>
                              <option>222</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                          </div>
                    </div>
                    <div class="flex md:w-2/12 lg:w-2/12 px-4 mt-3">
                        <ul class="flex justify-end">
                            <button [routerLink]="['/sap/product-analytics']" type="submit" class="flex justify-center text-white  ml-1 font-bold rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-red-100 text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                Show Analytics
                            </button>
                        </ul>
                    </div>
                </div>


                <div class="flex flex-row w-full lg:w-12/12 px-4 mt-3 justify-center rounded-lg mid" ngClass="bg-white">

                      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
                            <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                                <div class="flex flex-wrap items-center">
                                    <div class="relative w-full max-w-full flex-grow flex-1">
                                        <h2 class="text-blueGray-700 text-xl font-semibold">Authetication Rate</h2>
                                    </div>
                                    <ul class="flex justify-end">
                                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                            <div class="relative">
                                              <select class="option w-full bg-transparent text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                                <option>Solar Panel</option>
                                                <option>Battery</option>
                                                <option>Bicycle</option>
                                              </select>
                                              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                              </div>
                                            </div>
                                          </div>
                                          <li class="flex flex-column filter border-2 bg-[#DAEFFF] text-center px-1"> 
                                               <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z" />
                                                </svg> 
                                          <span class="fil">Filter</span> </li>
                                     
                                    </ul>
                                </div>
                            </div>
                            <div class="p-4 flex-auto">
                                <!-- Chart -->
                                <div class="relative" style="height: 350px">
                                <canvas id="bar-chart"></canvas>
                                </div>
                            </div>
                        </div>
                            
                </div>


                <div class="flex flex-row w-full lg:w-12/12 px-4 mt-3 justify-center rounded-lg mid" ngClass="bg-white">

                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
                          <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                              <div class="flex flex-wrap items-center">
                                  <div class="relative w-full max-w-full flex-grow flex-1">
                                      <h2 class="text-blueGray-700 text-xl font-semibold">Scan Area</h2>
                                  </div>
                                  <ul class="flex justify-end">
                                      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                          <div class="relative">
                                            <select class="option w-full bg-transparent text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                              <option>Solar Panel</option>
                                              <option>Battery</option>
                                              <option>Bicycle</option>
                                            </select>
                                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                            </div>
                                          </div>
                                        </div>
                                        <li class="flex flex-column filter border-2 bg-[#DAEFFF] text-center px-1"> 
                                             <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                                  <path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z" />
                                              </svg> 
                                        <span class="fil">Filter</span> </li>
                                   
                                  </ul>
                              </div>
                          </div>
                           <div class="p-4 flex-auto">
                              

                            <div class="relative flex flex-col min-w-0 break-words w-full mb-6  rounded bg-white px-4 py-4">
                                <!-- <div class="my-4">
                                    <h2 class="text-blueGray-700 text-xl">Product scans heat map</h2>
                                </div> -->
                                <div
                                id="map-canvas"
                                class="relative w-full rounded h-600-px"
                                ></div>
                            </div>

                            <!-- <div
                            id="map-canvas"
                            class="relative w-full rounded h-600-px"
                            ></div> -->


                          </div>
                      </div>
                          
              </div>
         
            </div>
        </div>
        

    </div>
  </div>
  

