<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        ngClass="bg-white"
        >
            <div class="block w-full overflow-x-auto">
                <div class="block w-full overflow-x-auto">
                    <div class="flex flex-wrap mt-4">
                        <div class="w-full mb-12 px-4">
                            <h5 class="text-2xl  text-center font-bold leading-normal mt-0 mb-2 text-blueGray-800">
                                Surveys
                            </h5>
                            <p class="text-lg text-center font-light leading-relaxed mt-2 mb-4 text-blueGray-800">
                                View your created surveys
                            </p>
                            <button
                                style="float: right;"
                                routerLink="/dashboard/surveys/create-survey"
                                class="active:bg-red-700  rounded border border-solid border-blueGray-700 font-bold uppercase text-xs px-4 py-2 rounded hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                                type="button">
                                <i class="fas fa-plus"></i>
                                Add New Survey
                            </button>                            
                        </div>
                </div>

                <div class="block w-full overflow-x-auto">
                  <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                      <tr>
                        <th
                        class="px-6 align-middle border border-solid py-3  uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        [ngClass]="
                            color === 'light'
                              ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                              : 'bg-red-800 text-red-300 border-red-700'
                          ">
                          Title
                        </th>
                        <th
                          class="px-6 align-middle border border-solid py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                          [ngClass]="
                            color === 'light'
                              ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                              : 'bg-red-800 text-red-300 border-red-700'
                          "
                        >
                          Description
                        </th>
                        <th
                          class="px-6 align-middle border border-solid py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                          [ngClass]="
                            color === 'light'
                              ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                              : 'bg-red-800 text-red-300 border-red-700'
                          "
                        ></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let survey of save_survey">
                        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4 text-left flex items-center">
                            {{survey?.title}}  
                        </td>
                        <td
                          class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-nowrap p-4">
                          {{survey.content | slice:0:60}}
                        </td>
                        <td
                          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
                        >
                          <survey-table-dropdown (onViewEvent)="gotoViewSurvey(survey)" (onEditEvent)="gotoEditSurvey(survey)"></survey-table-dropdown>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
            </div>
        </div>
        

    </div>
  </div>
  