<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-700"
>
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
    <div class="flex flex-wrap items-center mb-6">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold">
          Products Chart
        </h6>
        <h2 class="text-white text-xl font-semibold">Scan statistics</h2>
      </div>
    </div>
    <div class="relative w-full px-4 max-w-full flex-grow flex-1 ">
      <!-- <button
        class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        View Analytics
      </button> -->

      <div class="">
        <select [(ngModel)]="filterOptions.productId" (ngModelChange)="getProductScansByDate()" class="border-0 w-1/2 mr-4 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring  ease-linear transition-all duration-150"> 
          <option [value]="p.id" *ngFor="let p of products; let i = index">{{ p.product_name }}</option>
        </select>

        <input
        (ngModelChange)="getProductScansByDate()" type="date" [(ngModel)]="filterOptions.startDate"  type="date"
        class="border-0 px-3 py-3 mr-4  placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-1/3 ease-linear transition-all duration-150"
        >

        <input
        (ngModelChange)="getProductScansByDate()" type="date" [(ngModel)]="filterOptions.endDate"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-1/3 ease-linear transition-all duration-150"
        >
      </div>
    </div>
  </div>
  <div class="p-4 flex-auto">
    <!-- Chart -->
    <div class="relative" style="height: 350px">
      <canvas id="line-chart"></canvas>
    </div>
  </div>
</div>
