<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex justify-start mt-10 ">
                    <ul class="flex ">
                        <li class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" class="back-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                              </svg>
                              <p class="capitalize back">back</p>
                        </li>
                    </ul>
                </div>
                <div class="flex justify-end">
                          <ul class="flex justify-end batch">
                              <li class="cursor-pointer ">Batch Number <span class="text-2xl">320011</span></li>
                          </ul>
                </div>
                <div class="flex mb-2 justify-center">
                    <h2 class="title"><span class="sap">These are the Chekkit Unique IDs that will be send to you</span></h2>
                </div>


                <div class="flex flex-row px-4 lg:px-10 py-10 pt-0 justify-center rounded-lg" >

                    <div class="full lg:w-5/12 px-4 mt-3 mb-3 max-w-sm rounded overflow-hidden shadow-lg rounded-lg mr-3" ngClass="bg-sap">
                            <div class="card px-6 py-4">
                                <p class="mb-4"><span class="label">Label Range </span> <span class="unique">02861083629</span>  </p>
                                
                                <p class="mt-2 mb-8"> <span class="label">Serial Number Range on Box </span> <span class="unique">02861083629</span>  </p>

                            </div>
                     </div>
                </div>

                <div class="flex flex-row lg:px-10  pt-0 justify-center  rounded-lg" >

                    <div class="lg:w-5/12 lg:px-10 pt-0">
                        <form class="form" >
                            <div class="mb-8">
                                <label
                                    class="flex justify-start capitalize text-blueGray-600 text-xs font-bold mb-2 text-left mr-2"
                                >
                                shipping country
                                </label>
                                <div class="relative">
                                    <select class="border-1 mr-8 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" >
                                      <option>Please select the country</option>
                                      <option>111</option>
                                      <option>222</option>
                                    </select>
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                    </div>
                                  </div>
                            
                            </div>
                        </form>
                    </div>
                </div>
                           
                            <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/quicklinks']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    Proceed
                                </button>
                            </div>
                            
            
                    </div>
            
        </div>
        

    </div>
  </div>
  

  
