<div class="flex flex-wrap mt-4" >
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex mb-12 justify-center">
                    <h2 class="select text-center">Kindly select a subscription Plan
                    </h2>
                </div>
                <div class="flex flex-row px-4 lg:w-12/12  lg:px-10 py-10 pt-0 justify-center rounded-lg" >

                                <div class="full lg:w-2/12 px-4 mt-3 mb-3 max-w-sm rounded overflow-hidden shadow-lg rounded-lg mr-3 bg-white" >
                                        <div class="card bg-white px-6 py-4">
                                            <p class="label text-lg font-bold mb-8"> 100 - 10 million labels </p>
                                            
                                            <p class="mt-4 mb-8"><span class="dollar">$</span><span class="nine">9k</span> <span class="month"> / month</span></p>

                                            <button class="button">subscribe</button>
                                        </div>
                                 </div>

                                 <div class="fulls lg:w-2/12 px-4 mt-3 mb-3 max-w-sm rounded  shadow-lg rounded-lg mr-3">
                                    <div class="cards px-6 py-4">
                                        <p class="labels text-lg font-bold mb-8"> 100 - 10 million labels </p>

                                        <p class="mt-2 mb-8"><span class="dollars">$</span><span class="nines">9k</span> <span class="months"> / month</span></p>

                                        <button class="buttons">subscribe</button>
                                    </div>
                             </div>

                             <div class="full lg:w-2/12 px-4 mt-3 mb-3 max-w-sm rounded overflow-hidden shadow-lg rounded-lg mr-3 bg-white" >
                                <div class="card bg-white px-6 py-4">
                                    <p class="label text-lg font-bold mb-8"> 100 - 10 million labels </p>

                                    <p class="mt-2 mb-8"><span class="dollar">$</span><span class="nine">9k</span> <span class="month"> / month</span></p>

                                    <button [routerLink]="['/sap/batch']" class="button">subscribe</button> 
                                </div>
                         </div>
                </div>
                           
                           
                            
            
                    </div>

                 
 
          
            
        </div>
        

    </div>
  </div>
  

  
