<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        ngClass="bg-white"
        >
            <div class="block w-full overflow-x-auto">
                <div class="flex flex-wrap mt-4">
                    <div class="w-full mb-12 px-4">
                        <h5 class="text-2xl  text-center font-bold leading-normal mt-0 mb-2 text-blueGray-800">
                            Rewards
                          </h5>
                          <p class="text-lg text-center font-light leading-relaxed mt-2 mb-4 text-blueGray-800">
                            We currently support 4 Channels. Kindly select the one you want to work with
                          </p>
                          
                    </div>
                </div>
                
                <div class="flex flex-wrap  mb-12">
                    <div class="w-full flex-1 lg:w-3/12 px-4 pt-1 text-center">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row" routerLink="/dashboard/rewards/loyalty-points">
                              <div>
                                <img
                                    alt="..."
                                    src="assets/img/loyalty.png"
                                    class=""
                                />
                              </div>
                              <div>
                                <p>Loyalty Point</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="w-full flex-1 lg:w-3/12 px-4 pt-1">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row" routerLink="/dashboard/rewards/airtime">
                            <div>
                                <img
                                    alt="..."
                                    src="assets/img/airtime.png"
                                    class=""
                                />
                              </div>
                              <div>
                                <p>Airtime</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="w-full flex-1 lg:w-3/12 px-4 pt-1">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row" routerLink="/dashboard/rewards/merchandize">
                              <div>
                                <img
                                    alt="..."
                                    src="assets/img/merch.png"
                                    class=""
                                />
                              </div>
                              <div>
                                <p>Merchandise</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="w-full flex-1 lg:w-3/12 px-4 pt-1">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row" routerLink="/dashboard/rewards/raffle">
                              <div>
                                <img
                                    alt="..."
                                    src="assets/img/raffle.png"
                                    class=""
                                />
                              </div>
                              <div>
                                <p>Raffle Draw</p>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        

    </div>
  </div>
  