<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4 py-8">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        ngClass="bg-white"
        >
            <div class="block w-full overflow-x-auto px-4" *ngIf="stage == 1">
                <div class="flex flex-wrap mt-4">
                    <div class="w-full mb-12 px-4">
                        <div class=" flex justify-center mb-6 mt-8">
                            <img class="h-12 w-36 bg-white" src="assets/img/chekkitlogoo.png" />
                        </div>
                        <h5 class="text-2xl  text-center font-normal leading-normal mt-0 mb-2 text-blueGray-800">
                            Welcome to Chekkit Engage
                        </h5>
                        <p class="text-sm text-center font-light leading-relaxed mt-2 mb-4 text-blueGray-800">
                            We will get you started in 3 Steps:
                        </p>
                        <div class=" flex justify-center">
                            <img
                            src="assets/img/engage-steps.png"
                            style="width: 80%;"
                            class="h-350 w-350 bg-white"
                            alt="..."
                          />
                        </div>
                          
                    </div>
                </div>
                
                <div class="flex mb-12 justify-center">
                    
                    <div class="">
                        <button (click)="stage = 2" type="submit" class="self-auto  ml-1 text-white font-bold px-12 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-800 active:bg-blueGray-600 text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                            Get Started
                        </button>
                    </div>
                </div> 
            </div>
            <div class="px-4 pb-4" *ngIf="stage == 2">

                <div class="block w-full overflow-x-auto">
                    <div class="flex flex-wrap mt-4">
                        <div class="w-full mb-12 px-4">
                            <h5 class="text-2xl  text-center font-bold leading-normal mt-0 mb-2 text-blueGray-800">
                                Step 1: Upload Contacts
                            </h5>
                            <p class="text-lg text-center font-light leading-relaxed mt-2 mb-4 text-blueGray-800">
                                We currently support 3 Channels. Kindly select the one you want to work with
                            </p>
                              
                        </div>
                    </div>
                
                    <div class="flex flex-wrap  mb-12">
                        <div class="w-full flex-1 lg:w-4/12 md:w-12/12 sm:w-12/12 px-4 pt-1 text-center">
                            <div class="relative w-full mb-3">
                                <div class="card-selector card-selector-row card-selector-2" [class.selected-card] = "selectedChannel === 'csv'" (click)="chooseChannel('csv')">
                                    <div class="top-s-section">
                                        <div>
                                            <img
                                                alt="..."
                                                src="assets/img/ussd-phone.png"
                                                class=""
                                            />
                                        </div>
                                        <div>
                                            <p>Upload contacts from CSV</p>
                                        </div>
                                        <i class="{{selectedChannel === 'csv'?'fas fa-circle':'far fa-circle'}} sl-icon"></i>
                                    </div>
                                    <p class="sl-hint">Upload contacts from csv</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex-1 lg:w-4/12 md:w-12/12 sm:w-12/12 px-4 pt-1">
                            <div class="relative w-full mb-3">
                                <div class="card-selector card-selector-row card-selector-2" [class.selected-card] = "selectedChannel === 'contacts'" (click)="chooseChannel('contacts')">
                                    <div class="top-s-section">
                                        <div>
                                            <img
                                                alt="..."
                                                src="assets/img/call-icon.png"
                                                class=""
                                            />
                                        </div>
                                        <div>
                                            <p>Link existing contacts</p>
                                        </div>
                                        <i class="{{selectedChannel === 'contacts'?'fas fa-circle':'far fa-circle'}} sl-icon"></i>
                                    </div>
                                    <p class="sl-hint">Upload
                                        from customer’s Anti
                                        Counterfeit account or Insights
                                        account </p>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex-1 lg:w-4/12 md:w-12/12 sm:w-12/12 px-4 pt-1">
                            <div class="relative w-full mb-3">
                                <div class="card-selector card-selector-row card-selector-2" [class.selected-card] = "selectedChannel === 'target'" (click)="chooseChannel('target')">
                                    <div class="top-s-section">
                                        <div>
                                            <img
                                                alt="..."
                                                src="assets/img/qr-icon.png"
                                                class=""
                                            />
                                        </div>
                                        <div>
                                            <p>A target group </p>
                                        </div>
                                        <i class="{{selectedChannel === 'target'?'fas fa-circle':'far fa-circle'}} sl-icon"></i>
                                    </div>
                                    <p class="sl-hint">Customers can
                                        select a target group from
                                        Chekkit’s own segmented
                                        consumer data pool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-nav">

                        <!-- <button 
                        [disabled]="loading"
                        class="bg-white bordered-1 text-blueGray active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="submit"> -->
                        <button class="bg-transparent hover:bg-blueGray text-blueGray text-sm font-bold hover:shadow-lg mr-1 px-6 py-3 border-2 border-blue hover:border-transparent rounded">
                            Go back
                        </button>
                        <button 
                        [disabled]="loading"
                        class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold px-6 py-3 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="submit"
                        (click)="visitPage()"
                        >
                         Next
                        </button>
                    </div>
                    
                </div>

            </div>
        </div>
        

    </div>
  </div>
  