


   <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full  shadow-lg rounded justify-center" ngClass="bg-white">
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="sap">Let’s Link your account on SAP with <span class="chekkit">Chekkit’s</span> SAP</span></h2>
                </div>
                <div class="flex justify-center">
                    <form >
                        <div class="relative w-full mb-8">
                          <label
                            class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                            htmlFor="grid-password"
                          >
                          Customer’s universal ID
                          </label>
                          <input
                            type="text" 
                            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            placeholder="@Your Customer ID"
                          />
                          
                        </div>
                    </form>
                    
                </div>
                          <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/subscription']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    Link Account
                                </button>
                            </div>
                </div>
        </div>
        

    </div>
  </div>
  
  
