<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4 py-8">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        ngClass="bg-white"
        >
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex flex-wrap mt-4">
                    <div class="w-full mb-12 px-4">
                        <div class=" flex justify-center mb-6 mt-8">
                            <img class="h-12 w-36 bg-white" src="assets/img/chekkitlogoo.png" />
                        </div>
                        <h5 class="text-2xl  text-center font-normal leading-normal mt-0 mb-2 text-blueGray-800">
                            Welcome to SAP Dashboard
                        </h5>
                        <p class="text-sm text-center font-light leading-relaxed mt-2 mb-4 text-blueGray-800">
                            We will get you started in 3 Steps:
                        </p>
                          
                    </div>
                </div>
                
            </div>
        </div>
        

    </div>
  </div>
  