    <div class="flex flex-wrap">
        <div class="w-full mb-12 xl:mb-0 px-4">
            <card-products-chart></card-products-chart>
        </div>
        <div class="w-full mb-12 xl:mb-0 px-4">
            <card-map-product-stats></card-map-product-stats>
        </div>
        <div class="w-full mb-12 xl:mb-0 px-4">
            <card-reward-statitics></card-reward-statitics>
        </div>
    </div>
