 body {
    background-color: #E5E5E5;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    margin-top: 50px;
    margin-bottom: 20px;
}

form {
    padding-top: 50px;
}

.sap {
    font-weight: 900;
    color: #153853;

}


.done {
    justify-content: center;
    align-items: center;
   padding: 20px, 20px;
    color: #ffffff;
    position: static;
    width: 126px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #153853;
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 15px;
}

.done-txt {
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

button {
    justify-content: center;
    align-items: center;
    padding: 26px 16px;
    color: #ffffff;
    width: 617px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #153853;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.batch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: static;
    width: 260px;
    height: 66px;
    left: 650px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'Graphik';
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -30px;
}

.icon {
    height: 11px;
    width: 18px;
    left: 3px;
    top: 6.5px;
    border-radius: 0px;
} 

i {
    height: 21px;
    width: 28px;
    left: 3px;
    top: 6.5px;
    border-radius: 0px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}


.option {
    height: 38px;
    width: 125px;
    font-weight: 600;
    border-radius: 6px;
    padding-top: 6px;
    background-color: #DAEFFF;
    color: #153853;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.add {
    height: 20px;
    width: 20px;
    left: 2px;
    top: 1.9998779296875px;
    border-radius: 0px;
    color: #153853;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 15px;
}

.copy {
    height: 32px;
    width: 29px;
    left: 2.0001220703125px;
    top: 1.00006103515625px;
    border-radius: 0px;
    color: #4F4F4F;
    margin-top: 55px;
    margin-left: 30px;
}

.del {
    height: 30px;
    width: 28px;
    left: 3px;
    top: 1.99993896484375px;
    border-radius: 0px;
    color: #4F4F4F;
    margin-top: 55px;
    margin-left: 30px;
    margin-right: 30px;
}

hr {
    /* width: 700px; */
    height: 0px;
    left: 0px;
    top: 0px;
    margin-top: 50px;
    border: 1px solid #C7C7C7;
    justify-content: center;
    margin-left: 40px;
}

.back {
    font-family: 'Graphik';
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}

.back-icon {
    height: 24px;
    width: 24px;
    left: 3px;
    top: 6.5px;
    border-radius: 0px;
    color: #153853;
    margin-top: 17px;
    margin-right: 10px;
}