<div class="container mx-auto px-4 h-full">
   
    <div class="flex content-center items-center justify-center h-full">
      <div class=" flex flex-row w-full lg:w-12/12 px-4">

            <div class="w-full lg:w-8/12">
                <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg  bg-white border-0">
              <div>
                <img
                    alt="Logo"
                    src="assets/img/chekkitlogoo.png"
                    class="r"
                />
              </div>
                <div class="rounded-t mb-0 px-6 py-6">
                  <div class="mb-12 mt-4">
                    <h6 class="font-bold">Join <span class="chekkit">Chekkit</span> on SAP</h6>
                  </div>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-blueGray-400 text-center capitalize mb-3 font-bold">
                      <div class="separator"><small>Or sign up with email</small></div>
                  </div>
                  <form>
                    <div class="relative w-full mb-3">
                      <label
                        class="block capitalize text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                      >
                      email address
                      </label>
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg> -->
                      <input
                        type="text" 
                        class="border-1 px-3 py-3 placeholder-blueGray-300 text-start mr-8 text-blueGray-600 capitalize bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="email address"
                      />
                      
                    
                    </div>
                    <div class="relative w-full mb-3">
                      <label
                        class="block capitalize text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                      >
                      phone number
                      </label>
                      <input
                        type="number" 
                        class="border-1 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="000 00 00"
                      />
               
                    </div>
         
        
                    <div class="relative w-full mb-3 mt-3">
                      <label
                        class="block capitalize text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                      >
                        Password
                      </label>
                      <label
                      class="block capitalize text-blueGray-600 text-xs font-bold mb-2 flex relative justify-end forgot"
                      htmlFor="grid-password"
                    >
                      forgot password?
                    </label>
                  
                      <input
                        type="password"
                        class="border-1 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="Password"
                      />
                     
                    </div>

              
                    
                    <div class="text-center mt-6">
                      <button
                        class="text-white active:bg-blueGray-600 text-sm font-bold capitalize px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                        type="submit" [routerLink]="['/sap/link-account']"
                      >
                      sign up
                      </button>
      
                      <p class="mt-4" [routerLink]="['/sap/link-account']"> <span class="text-blueGray-500 text-sm "> Already have an account </span> <span class="text-sm"> Log In</span>  </p>
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="w-full lg:w-4/12 pic">
                <div  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg  bg-sign border-0">
                    <div class="flex-auto lg:px-10 py-10 pt-0 below">
                        <div>
                            <img
                                alt="Logo"
                                src="assets/img/signup.png"
                                class="mid"
                            />
                        </div>
                    </div>
              </div>
            </div>
 
       


      </div>
    </div>
  </div>
  