/* You can add global styles to this file, and also import other style files */
@import '~animate.css/animate.min.css';

.active-link{
    /* border-bottom: 2px solid #334254; */
    color: #15B881;
}

.quick-link{
    cursor: pointer;
}

.quick-link:hover{
    opacity: 0.8;
    /* box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%); */
}

.product-card{
    height: 600px;
}

.product-img{
    height: 140px;
    width: 140px;
    border: solid 1px #ccc;
}