.page-content{
    min-height: 800px;
}

.card-selector{
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // border: solid 1px #ccc;
    // border-radius: 8px;
    // cursor: pointer;
}

.card-selector:hover{
    opacity: 0.8;
    border: solid 2px #C7C7C7;
    // text-decoration: underline;
}
.card-selector-row{
    // flex-direction: column !important;
}

.card-selector p{
    margin-left: 20px;
    font-weight: 700;
}
.card-selector-row p{
    margin-left: 0px;
}

.card-selector img{
    height: 75px;
}

.card-selector-row img{
    height: 40px;
    margin-bottom: 20px;
}

.card-selector{
    border: solid 1px #C7C7C7;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 20px;
    height: 180px;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    margin: 0px auto;
    position: relative;
}

.card-selector p{
    color: #4F4F4F;
}


.card-selector-2{
    width: 300px;
    height: 200px;
    padding: 20px;
}

.top-s-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-s-section p{
    text-align: left;
    margin-left: 20px;
    color: #153853;
    font-weight: 500;
}

.top-s-section img{
    margin-top: 15px;
}

.sl-icon{
    position: absolute;
    top: 23px;
    right: 23px;
    color: #153853;
}

.sl-hint{
    font-weight: 400 !important;
    font-size: 0.7em !important;
}

.brand-logo{
    height: 200px !important;
}

.selected-card{
    background-color: #EFF8FF;
    border-color: #153853;
}

.footer-nav{
    border-top: solid 1px #C7C7C7;
    padding-top: 20px;
    display: flex;
    // align-items: flex-end;
}

.upload-container {
    width: 90%;
    height: 200px;
    padding: 2rem;
    // text-align: center;
    border: 2px dashed #E2E6EA;
    position: relative;
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }
  
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }
  
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .files-list {
    margin-top: 1.5rem;
  
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
  
      img.delete {
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
  
  
      display: flex;
      flex-grow: 1;
  
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
  
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
  
      .info {
        width: 100%
      }
    }
  }
  
  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }