<div class="flex flex-wrap mt-4" >
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4">
                
                <div class="flex">
                    <h2 class="title"><span class="sap">Attach Reward</span></h2>
                </div>
                <div class="flex justify-end">
                    <ul class="flex justify-end batch">
                        <li class="cursor-pointer capitalize">new reward</li>
                    </ul>
                 </div>


                 <div class="w-full flex justify-center lg:w-12/12 px-4 pt-1 mb-6 pb-6 rounded" >

                    <div class="flex flex-col">
                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="overflow-hidden">
                              <table class="table-auto min-w-full  space-y-6">
                                <thead class="border-b" ngClass="bg-white">
                                    <tr class="top border-x-8 bg-white">
                                      <th scope="col" class="text-sm font-medium text-center capitalize text-gray-900 px-6 py-4 text-left tracking-wider">
                                        <input type="checkbox" class="mt-1" />
                                      </th>
                                      <th scope="col" class="text-sm font-medium text-center capitalize text-gray-900 px-6 py-4 text-left tracking-wider">
                                          S/N
                                      </th>
                                      <th scope="col" class="text-sm capitalize text-center capitalize font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        reward name
                                      </th>
                                      <th scope="col" class="text-sm font-medium text-center capitalize text-gray-900 px-6 py-4 text-left tracking-wider">
                                        reward type
                                      </th>
                                      <th scope="col" class="text-sm capitalize text-center capitalize font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        reward type
                                      </th>
                                      <th scope="col" class="text-sm capitalize text-center capitalize font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        cashout type
                                      </th> <th scope="col" class="text-sm capitalize text-center capitalize font-medium text-gray-900 px-6 py-4 text-left tracking-wider">
                                        batch number
                                      </th>
                                      <th scope="col" class="text-sm capitalize text-center font-medium capitalize text-gray-900 px-6 py-4 text-left tracking-wider">
                                        date created
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="bg-gray-100 border-x-8">
                                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                      <td class="text-sm text-gray-900 m-3  font-light px-6 py-4 whitespace-nowrap">
                                        1
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2 capitalize  font-light px-6 py-4 whitespace-nowrap">
                                        Reward01
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                        loyalty point
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                        50
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                          partner store
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                          32
                                        </td>
                                        <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                          Apr 20, 2021
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-100 border-x-8">
                                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                      <td class="text-sm text-gray-900 m-3  font-light px-6 py-4 whitespace-nowrap">
                                        1
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2 capitalize  font-light px-6 py-4 whitespace-nowrap">
                                        Reward01
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                        loyalty point
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                        50
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                          partner store
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                          32
                                        </td>
                                        <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                          Apr 20, 2021
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-100 border-x-8">
                                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                      <td class="text-sm text-gray-900 m-3  font-light px-6 py-4 whitespace-nowrap">
                                        1
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2 capitalize  font-light px-6 py-4 whitespace-nowrap">
                                        Reward01
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                        loyalty point
                                      </td>
                                      <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                        50
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                          partner store
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                          32
                                        </td>
                                        <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                          Apr 20, 2021
                                        </td>
                                    </tr>
                                      <tr class="bg-gray-100 border-x-8">
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                        <td class="text-sm text-gray-900 m-3  font-light px-6 py-4 whitespace-nowrap">
                                          1
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize  font-light px-6 py-4 whitespace-nowrap">
                                          Reward01
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                          loyalty point
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                          50
                                          </td>
                                          <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                            partner store
                                          </td>
                                          <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                            32
                                          </td>
                                          <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                            Apr 20, 2021
                                          </td>
                                      </tr>
                                      <tr class="bg-gray-100 border-x-8">
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><input type="checkbox" class="mt-1" /></td>
                                        <td class="text-sm text-gray-900 m-3  font-light px-6 py-4 whitespace-nowrap">
                                          1
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize  font-light px-6 py-4 whitespace-nowrap">
                                          Reward01
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                          loyalty point
                                        </td>
                                        <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                          50
                                          </td>
                                          <td class="text-sm text-center text-gray-900 m-2 capitalize font-light px-6 py-4 whitespace-nowrap">
                                            partner store
                                          </td>
                                          <td class="text-sm text-center text-gray-900 m-2  font-light px-6 py-4 whitespace-nowrap">
                                            32
                                          </td>
                                          <td class="text-sm text-center text-gray-900  m-4  font-light px-6 py-4 whitespace-nowrap">
                                            Apr 20, 2021
                                          </td>
                                      </tr>
                                </tbody>
                              </table>

                              <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/sap-assign-rewards']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    Continue
                                </button>
                            </div>

                            </div>
                          </div>
                        </div>
                      </div>

                 </div>

              

                  
            </div>
        </div>
    </div>
</div>
  

  
