<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white px-4 py-4">
    <div class="my-4">
        <h2 class="text-blueGray-700 text-xl">Product scans heat map</h2>
    </div>
    <div
    id="map-canvas"
    class="relative w-full rounded h-600-px"
    ></div>
</div>