<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-sap">
            <div class="block w-full overflow-x-auto px-4">
              <div class="flex justify-start mt-10 ">
                <ul class="flex ">
                    <li class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="back-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                          </svg>
                          <p class="capitalize back">back</p>
                    </li>
                </ul>
            </div>
            <div class="flex justify-end">
                      <ul class="flex justify-end batch">
                          <li class="cursor-pointer ">Batch Number <span class="text-2xl">320011</span></li>
                      </ul>
            </div>
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="sap">Assign Survey to the new serial numbers you just requested</span></h2>
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0 justify-center">
                    <form >
                        <div class="relative w-full mb-8">
                          <label
                            class="block Capitalize text-blueGray-600 text-xs font-bold mb-2"
                            htmlFor="grid-password"
                          >
                            Batch Number
                          </label>
                          <input
                            type="text" 
                            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            placeholder="Please Enter Batch Number Here"
                          />
                          
                        </div>
                    </form>
                </div>
                           
                            <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/request-serial']" type="submit" class="self-auto capitalize ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    start process
                                </button>
                            </div>
                            
            
                    </div>

                 
 
          
            
        </div>
        

    </div>
  </div>
  

  
