<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words  w-full mb-6 rounded-lg -mt-64"
      >

      <div class="flex flex-wrap" *ngIf="plans && !processing">
        <div class="w-full xl:w-3/12 px-4" *ngFor="let plan of plans; let i = index">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded" [ngClass]="{'selected': isPlanChosen(plan.id)}">
                <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                    <div class="flex flex-wrap items-left">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
                                ${{formatCurrency(plan.price)}} <span>+ unit prices</span>
                            </h6>
                            <h2 class="text-blueGray-700 text-xl font-semibold">{{plan.name}}</h2>
                            <p class="t-text-3">{{plan.description}}</p>
                        </div>
                    </div>

                    <hr class="my-4 md:min-w-full" />
                </div>
                <div class="p-4 flex-auto">
                    <!-- Chart -->
                    <div class="relative" style="height: 350px">
                        <div *ngFor="let feature of convertToArray(plan.features_list)" class="plan-feature"><i class="fas fa-check-circle text-blueGray-800 mr-2 text-sm"></i>  {{feature}}</div>
                    </div>
                    <div [hidden]="selectedPlan">
                        <button [disabled]="selectedPlan" (click)="choosePlan(plan,true)" class="w-full text-blueGray-700 bg-transparent border border-solid border-blueGray-700 hover:bg-blueGray-500 hover:text-white active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Try It
                        </button>
                        <button [disabled]="selectedPlan" (click)="choosePlan(plan)" class="w-full bg-blueGray-700 text-white active:bg-blueGray-600 hover:bg-blueGray-400 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Buy It
                        </button>
                    </div>
    
                    <div *ngIf="selectedPlan && selectedPlan.id == plan.id" class="submit-container" [hidden]="!selectedPlan">
                        <button (click)="submitPlan(plan,true)" class="w-full text-blueGray-700 bg-transparent border border-solid border-blueGray-700 hover:bg-blueGray-500 hover:text-white active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Confirm Plan
                        </button>
                        <button  (click)="selectedPlan=undefined" class="w-full bg-red-700 text-white active:bg-blueGray-600 hover:bg-blueGray-400 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Cancel
                        </button>
                        <!-- <button style="margin-top: 15px;" (click)="submitPlan()" class="btn btn-submit-blue btn-lg btn-bordered btn-block">Confirm Plan</button>
                        <button style="margin-top: 5px;" (click)="selectedPlan=undefined" class="btn btn-brd-2 btn-md btn-bordered btn-block">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
        <!-- <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Choose Plan
            </h3>
            <div
              class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase"
            >
                Please select a plan so we can tailor your experience
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="w-full xl:w-4/12 px-4">

                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                        <div class="flex flex-wrap items-center">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
                            Performance
                            </h6>
                            <h2 class="text-blueGray-700 text-xl font-semibold">Total orders</h2>
                        </div>
                        </div>
                    </div>
                    <div class="p-4 flex-auto">
                        <div class="relative" style="height: 350px">
                        </div>
                    </div>
                </div>
            </div>

          </div>
        </div> -->
      </div>
    </div>
  </section>
</main>
